.contact-wrapper {
    padding-left: 24px;
    padding-right: 24px;
}

.contact-title {
    font-family: Gotham-Rounded-Bold;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.1px;
    color: #484848;
}

.contact-description {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.1px;
    color: #484848;
    margin-top: 5px;
    margin-bottom: 24px;
}

.contact-bullet-list {
    font-size: 12px;
}