.event {
    margin-bottom: 32px !important;
}

.event-image {
    border-radius: 3px;
    width: 100%;
}

.event-title {
    font-family: Gotham-Rounded-Bold;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    color: #484848;
    margin-top: 6px;
    margin-bottom: 10px;
}

.desc-wrapper {
    margin-bottom: 6px;
}

.desc-text {
    font-size: 14px;
    color: #484848;
}

.icon {
    width: 8px;
    height: 12px;
    object-fit: contain;
    margin-right: 5px;
}